<h1>💬 Forget Password?</h1>
<p>Enter email to reset</p>

<form [formGroup]="form">
    <ion-item lines="none">
        <ion-input 
          label="" 
          placeholder="Enter a email" 
          type="email" 
          formControlName="email"
          errorText="* Enter valid email"
        >
          <ion-icon slot="start" name="mail-outline"></ion-icon> 
        </ion-input>
    </ion-item>

    <p class="signup-text">Rememberd Password&nbsp;<a (click)="backToLogin()">Sign In?</a></p>

    <ion-button class="login-button" expand="block">Reset Password</ion-button>
</form>